# GENERAL
.idea/
__pycache__/
.vscode/
*.py~

# CONFIG FILES
.env
twitter_config.json

# AGENTS
agents/*.json
agents/dolla_llama

# MEMORY DATABASE
memory_db

# Include example agent and general config
!agents/example.json
!agents/general.json

# macOS
.DS_Store